body {
    font-family: 'Inter', sans-serif;
    /* La transición se maneja mejor a través de Tailwind en la clase del body */
    transition: background-color 0.5s, color 0.5s; 
}

/* Estilo para el gradiente de texto del título */
.bg-linear-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}